@import '../../styles/partials/common-styles';

.video {
    position: relative;

    &__displayed {

        background-color:black;
        position: relative;
        height:auto;

        @include tablet {
            padding: 0 3%;
        }

        @include desktop {
            padding: 0 17%;
        }

        &-poster {
            width: 100%;
            height: auto;
            display: block;
        }
    }

    &__bar {
        padding: 0 5%;
        width: 88%;
        display:flex;
        flex-direction: row;
        justify-content:space-between;
        position: absolute;
        bottom: 8px;

        @include tablet {
            width: 90%;
            padding-left: 1%;
            padding-right: 0;
        }

        @include desktop {
            width: 63%;
        }

        &-play {

            background-color: rgb(20, 20, 20);
            opacity: 0.9;
            border-radius:3px;
            width: 50px;
            height: 30px;

            &-button {
                padding-top: 5px;
                padding-left: 21px;
            }
        }

        &-scrubber {
            background-color: rgb(20, 20, 20);
            opacity: 0.9;
            width: 50%;
            border-radius:3px;
            padding: 13px 0;

            @include tablet {
                @include commonFlex(space-between,row,none);
                padding: 0 0;
                width: 68%;
            }

            @include desktop {
                width: 70%;
            }

            &-progress {
                background-color:black;
                width: 85%;
                height: 3px;
                margin-left: 0.8em;

                @include tablet {
                    width: 80%;
                    margin-top: 15px;
                }
            }

            &-time {
            display: none;
            color:white;

                @include tablet {
                    display: inline;
                   font-size: 12px;
                   margin-top: 8px;
                   padding-right: 15px;
                   margin-bottom: 0;
                }
            }
        }

        &-options {
            width: 70px;
            height: 30px;
            background-color: rgb(20, 20, 20);
            opacity: 0.9;
            border-radius:3px;
            display: flex;
            flex-direction: row;
            justify-content:space-between;


            &-button-full {
                padding-left: 10px;
            }

            &-button-volume {
                padding-right: 10px;
            }
        }
    }
}