@import '../../styles/partials/common-styles';

.next {
    @include avenirReg;
    padding: 0 5%;

    @include tablet {
        padding: 0 3%;
    }

    @include desktop {
        padding-right: 13%;
        padding-left: 0;
        margin-left: 2em;
    }

    &__header {
        @include avenirDemi;
        font-size: $m-sub-header-font-size;
        color: rgb(185, 185, 185);
        margin: 2.5em 0;
    }

    &-video {
        @include commonFlex (none,row,none);
        margin-bottom:1.5em;
        
        &-info {
            @include commonFlex (space-between,column,none);
            margin-left: 1em;
            height: 65px;
            width: 135px;

            @include tablet {
                width: 180px;
            }
       

            &__title {
                @include avenirDemi;
                margin-top: 0;
                margin-bottom: 0.5em;
                font-size: $m-video-title-font-size;
            }

            &__channel {
                margin: 0;
                font-size: $m-label-font-size;
            }
        }

        &__photo {
            border-radius: 3px;
            width: 120px;
            height: 70px;
        }
    }
}