@import '../../styles/partials/common-styles';

.next {
    @include avenirReg;
    padding: 0 5%;

    &__title {
        @include avenirDemi;
        color: rgb(185, 185, 185);
    }

    &-video {
        display:flex;
        flex-direction: row;
        margin-bottom:24px;
        
        &-info {
            margin-left: 16px;
            &__title {
                @include avenirDemi;
                margin-top: 0;
                margin-bottom: 8px;
            }

            &__author {
                margin: 0;
            }

        }

        &__photo {
            border-radius: 3px;
            width: 120px;
            height: 70px;
        }

    }
}