/*Colors*/
$primary-background-color: #323232;
$primary-font-color: #323232;
$secondary-font-color: #ffffff;
$gallery-background-color: #fafafa;
$form-section-color: #E1E1E1;
$brainflix-blue: #0095ff;
$label-color: #afafaf;
$box-border-color: #afafaf;

/*Viewport Breakpoints*/
$tablet-width: 768px;
$desktop-width: 1200px;

/*Mobile Line Heights*/
$m-header-line-height: 32px;
$m-sub-header-line-height: 18px;
$m-paragraph-line-height: 18px;
$m-footer-line-height: 18px;
$m-label-line-height: 20px;

/*Mobile Font Sizes*/
$m-header-font-size:1.5rem;
$m-sub-header-font-size:0.875rem;
$m-paragraph-font-size:0.8125rem;
$m-footer-font-size:0.8125rem;
$m-video-title-font-size: 0.875rem;
$m-label-font-size: 0.75rem;
$m-sub-font-size: 1rem;
$m-logo-height: 1.5rem;

/*Tablet/Desktop Line Heights*/
$hero-header-line-height: 68px;
$header-line-height: 44px;
$header2-line-height: 32px;
$sub-header-line-height: 24px;
$paragraph-line-height: 22px;
$footer-line-height: 20px;
$label-line-height: 20px;

/*Tablet/Desktop Font Sizes*/
$hero-header-font-size:3.125rem;
$header-font-size:2.25rem;
$header2-font-size:2rem;
$sub-header-font-size:1rem;
$paragraph-font-size:0.875rem;
$footer-font-size:0.875rem;
$label-font-size: 0.75rem;
$sub-font-size: 1rem;
$logo-height: 1.5rem;