

@font-face {
    font-family: 'Avenir';
    src: url('../../assets/fonts/Avenir-next-bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('../../assets/fonts/Avenir-next-demi.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('../../assets/fonts/Avenir-next-reg.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
